body {
    background: url(bg-light-4868.png) repeat;
}

body form{
    width: 30%;
    margin: auto;
}

div {
    margin-bottom: 20px;
    margin: auto;
}

.container form {
    max-width: 900px;
    margin: auto;
}

label {
    color: #2aabd2;
    font-family: "Buxton Sketch";
    font-size: 30px;
}

.table {
    width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* чтобы таблица не разрезалась как торт по кускам */
    margin: auto;
    border: groove;
}
tr, td, th {
    /*align-content:;*/
    margin-bottom: 200px;
    height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #aa88ee;
    border: hidden;
    font-family: "Buxton Sketch";
    font-size: 30px;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    font-family: "Buxton Sketch";
    color: #2e6da4;
}

.form-group{
    margin-top: 10px;
}

.form-control {
    margin: auto;
    display: block;
    height: 38px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 10px;
}

.form-check{
    line-height: 1.42857143;
    height: 38px;
    margin-top: 10px;
}

.form-check-label{
    line-height: 1.42857143;
    height: 38px;
    margin-bottom: 2000px;
    /*margin-top: 10px;*/
}
